@page
@model Vlad_Porime_Proiect.Pages.Shoes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shoe.ID" />
            <div class="form-group">
                <label asp-for="Shoe.Brand" class="control-label"></label>
                <input asp-for="Shoe.Brand" class="form-control" />
                <span asp-validation-for="Shoe.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Model" class="control-label"></label>
                <input asp-for="Shoe.Model" class="form-control" />
                <span asp-validation-for="Shoe.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Price" class="control-label"></label>
                <input asp-for="Shoe.Price" class="form-control" />
                <span asp-validation-for="Shoe.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.ReleaseDate" class="control-label"></label>
                <input asp-for="Shoe.ReleaseDate" class="form-control" />
                <span asp-validation-for="Shoe.ReleaseDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="table">
                    <table>
                        <tr>
                            @{ 
                                int cnt = 0;
                                foreach (var cat in Model.AssignedCategoryDataList)
                                {
                                    if (cnt++ % 3 == 0)
                                    {
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                   <input type="checkbox"
                                          name="selectedCategories"
                                          value="@cat.CategoryId"
                                          @(Html.Raw(cat.Assigned ? "checked=\"checked\"" : ""))/>
                                          @cat.CategoryId @: @cat.Name
                                       @:</td>
                          }
                        @:</tr>
                        }
                    </table>
                </div>
                </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
